<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <connectionStrings>
      <add name="POS" connectionString="Data Source=.\SQLExpress;Database=dbSSRetail;User Id=pos;Password=pos;" providerName="System.Data.SqlClient"/>
      <add name="POS1" connectionString="Data Source=.\SQLExpress;Database=db1SSRetail;User Id=pos;Password=pos;" providerName="System.Data.SqlClient"/>
    </connectionStrings>  
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1"/></startup>
</configuration>
